<html ng-app="TimeWaste">
	<head>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"></script>
		<link rel="stylesheet" href="app/css/main.css" />
	</head>
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
		<div class="container">
			<div>
				<input type="text" ng-model="login.email" />
				<input type="password" ng-model="login.password" />
				<button ng-click='logUserIn()'>Login</button>
				<a ui-sref="signUp">Create an Account</a>
			</div>
		</div>
	</nav>
	<body>
		<div ui-view></div>
	</body>

	<script src="node_modules/angular/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<script src="app/app.js"></script>
	<script src="app/signup/signup-controller.js"></script>
	<script src="app/navigation/navigation-controller.js"></script>

</html>
