<div class="col-sm-10 col-sm-offset-1">
	<div class="row">
		<textarea ng-model="newWaste" ng-keypress="sendWaste($event)" class="form-control" placeholder="Post WASTE here, then hit the enter key."></textarea>
	</div>
	<div class="row">
		<table class="waste-section">
			<tr ng-show="incomingWastes">
				<a ng-click="setNewWastes()">There are {{difference}} new wastes!</a>
			</tr>
			<tr ng-repeat="waste in wastes">
				<td>
					{{waste.user}}
					<img ng-src="{{waste.userImage}}" class="img-responsive">
				</td>
				<td>
					<strong>{{waste.date | date: 'MM/dd/yyyy hh:mm'}}</strong><br>
					<p>{{waste.content}}</p>
				</td>
			</tr>
		</table>
	</div>
</div>
